{% extends 'page.html' %}

{% block padding %}
    <a href="/administrator/uni/userextended.School/#sch{{ schoolObj.id }}">{{ schoolObj }}</a>
    <span>&rarr;</span>
    <a href="/administrator/uni/userextended.Teacher/{{ schoolObj.id }}/">Учителя</a>
    <span>&rarr;</span>
    {% if step == '1' %}
        <h1>Поиск пользователя</h1>
    {% endif %}
{% endblock %}


{% block content %}
    {% if step == '1' %}
        {% if error %}
            <p>Ошибка: {{ error|lower }}</p>
        {% endif %}
        {% if objects %}
            <table class="form">
                {% for object in objects%}
                    <tr>
                        <td>{{ object.fio }}</td>
                        <td>
                            <form action="?step=2&school={{ school }}" method="POST">
                                <input type="hidden" name="username" value="{{ object.username }}" />
                                <input type="submit" value="Добавить пользователя" />
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <form action="?step=1&school={{ school }}" method="POST">
                <table>
                    <tr>
                        <td>Введите фамилию пользователя</td>
                        <td><input type="text" name="search_string" value="{{ search_string }}" /> </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <input type="submit" value="Проверить" />
                        </td>
                    </tr>
                </table>
            </form>
        {% endif %}
    {% endif %}
{% endblock %}