{% extends 'page.html' %}

{% block padding %}
    <a href="/administrator/uni/userextended.School/#sch{{ school.id }}">{{ school }}</a>
    <span>&rarr;</span>
    <a href="/administrator/uni/userextended.Grade/{{ school.id }}/">Классы</a>
    <span>&rarr;</span>
    <h1>Редактирование</h1>
{% endblock %}


{% block content %}
    <p>Поле &laquo;Порядковый номер&raquo; отражает цифру в&nbsp;полном наименовании класса.
        Так, если вы&nbsp;добавляете класс 7а, то&nbsp;цифра класса должна быть 7.
        Таким образом, все 7 классы, добавляемые вами, будут иметь порядковый номер&nbsp;&mdash; 7.</p>
	{% include 'helpers/uniForm.html' %}
{% endblock %}