{% extends 'page.html' %}

{% block padding %}
    <a href="/administrator/uni/userextended.School/#sch{{ school.id }}">{{ school }}</a>
    <span>&rarr;</span>
    <h1>Ученики</h1>
    <table><tr style="vertical-align: baseline;"><td>
        <a href="add/">Создать ученика</a>
		<a href="connect/">Добавить ранее созданного ученика</a>
		<a href="import/">Импорт ученика</a>
	</td><td style="padding-left: 20px;">
		{% include 'helpers/search_form.html' %}
	</td><td>
        {{ filter_form }}
	</td></tr></table>
{% endblock %}

{% block content %}
{% if objects.object_list %}
<table class="table">
	<thead>
		<th><a href="?page={{ objects.number }}&order_by=last_name">Ученик</a></th>
		{#<th>Логин</th>#}
		<th><a href="?page={{ objects.number }}&order_by=grade">Класс</a></th>
		<th>Действия</th>
	</thead>
	{% for object in objects.object_list %}
		<tr class="{% cycle 'gray' '' %}">
			<td>{{ object.fio }}</td>
			{#<td>{{ object.username }}</td>#}
			<td>{{ object.grade }}</td>
			<td>{% include "helpers/buttons/edit.html" %} <a href="exclude/{{ object.id }}/">исключить</a></td>
	{% endfor %}
</table>
{% include "helpers/paginator.html" %}
	{% endif %}
{% endblock %}