{% extends 'page.html' %}

{% block content %}
    <a href="add/" class="title">Добавить период каникул</a>
    <table>
        <thead>
        <th>Название</th>
        <th>Начало</th>
        <th>Конец</th>
        <th>Классы</th>
        <th></th>
        </thead>
        {% for obj in objects.object_list %}
            <tr class="{% cycle 'gray' '' %}">
                <td>{{ obj.name }}</td>
                <td>{{ obj.start }}</td>
                <td>{{ obj.end }}</td>
                <td>{{ obj.grades.all|join:", " }}</td>
                <td>
                    <a href="edit/{{ obj.id }}">редактировать</a>
                    <a href="delete/{{ obj.id }}" class="delete">удалить</a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}